@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   overflow-x: hidden;
}

html{
  overflow-x: hidden;
}
.scrollbar-none::-webkit-scrollbar{
  display: none;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

.mainColor{
  color: #24544B;
}
.mainBg{
  background-color: #24544B;
}
.mainBg1{
  background-color: #f7f0f2;
}
.mainBg2{
  background-color: #fef7f8;
}


button{
  cursor: pointer;
}
