@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   overflow-x: hidden;
}

html{
  overflow-x: hidden;
}
.scrollbar-none::-webkit-scrollbar{
  display: none;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

.mainColor{
  color: #24544B;
}
.mainBg{
  background-color: #24544B;
}
.mainBg1{
  background-color: #f7f0f2;
}
.mainBg2{
  background-color: #fef7f8;
}


button{
  cursor: pointer;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of scrollbar */
  height: 8px; /* For horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #24544B; /* Scroll handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #24544B; /* On hover */
}


/* .holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgb(233, 233, 233)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
} */

.holo-image {
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}

.holo-image::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(228, 228, 228, 0.35)
  );
  transform: rotate(-45deg);
  transition: all 1s ease;
  opacity: 0;
  z-index: 2; /* 👈 ensure gradient is on top */
  pointer-events: none; /* 👈 so hover still works */
}

.holo-image:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

